/* Dichiaro il percorso dei font utilizzati per tutto il sito  */
@font-face {
  font-family: chopin-text;
  src: url(chopin-font-family/Chopin-Trial-Medium-BF65b1d69162573.otf);
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: chopin-text;
  background: #fff;
  color: #e7207f;
  display: flex;
  min-height: 100vh;
  padding-top: 50px;
}
body h2,
p {
  padding-left: 20px;
}
/* Definisco gli elementi della navbar specificando che essendo fixed ti seguira nelle azioni del sito  */
.topnav {
  overflow: hidden;
  box-shadow: 0 6px 10px #777;
  background-color: #fff;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  margin-bottom: 0.5%;
}
.logo {
  float: left;
  text-align: left;
  display: flex;
  height: 50px;
  margin-right: 0.5em;
  margin-left: 2%;
}
.topnav a {
  display: flex;
  color: #000;
  text-decoration: none;
  padding: 1em;
  margin-right: 2%;
}
.nav-link {
  float: right;
  text-align: center;
}
.topnav .icon {
  display: none;
}
.topnav a:hover {
  background-color: #e7207f;
  color: #fff;
}
.container {
  margin: 0 auto;
  width: 48rem;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #e7207f;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000;
  font-size: calc(12px + 0.390625vw);
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  padding-left: 20px;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #e7207f;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #e7207f;
  border: 1px solid #e7207f;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  margin-right: 20px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #e7207f;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: calc(12px + 0.390625vw);
  font-weight: 300;
  margin: 2em 0;
}
/* Definisco dei media modificando il css dei vari elementi 
nel momento in cui il display risulta inferiore ai 600px */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
  }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive .logo {
      display: none;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}