/* Dichiaro il percorso dei font utilizzati per tutto il sito  */
@font-face {
  font-family: chopin-text;
  src: url(chopin-font-family/Chopin-Trial-Medium-BF65b1d69162573.otf);
}
@font-face {
  font-family: chopin-title;
  src: url(chopin-font-family/Chopin-Trial-Bold-BF65b1d691a55be.otf);
}

body{
  background:#e7207f;
  padding-top: 30px;
}

body, footer{
  font-family: chopin-text;
}

h1,h3{
  font-family: chopin-title;
}

/* Definisco gli elementi della navbar specificando che essendo fixed ti seguira nelle azioni del sito  */
.topnav {
  overflow: hidden;
  box-shadow: 0 6px 10px #777;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  margin-bottom: 0.5%;
}
.logo {
  float: left;
  text-align: left;
  display: flex;
  height: 50px;
  margin-right: 0.5em;
  margin-left: 2%;
}
.topnav a {
  display: flex;
  color: #000;
  text-decoration: none;
  padding: 1em;
  margin-right: 2%;
}
.nav-link {
  float: right;
  text-align: center;
}
.topnav .icon {
  display: none;
}
.topnav a:hover {
  background-color: #e7207f;
  color: #fff;
}
/* .shell{
  padding:30px 0;
} */

.col-md-3 {
    width: 25%;
}

.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px;
}
.wsk-cp-img{
  position:relative;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}

.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
  height: 80px;
}
.wsk-cp-text .title-product h3{
  font-size: calc(14px + 0.390625vw);
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:80px;
  margin-bottom:15px;
  overflow: scroll;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left; 
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .wsk-cp-product{
    margin:40px 10px;
  }
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}

/* Definisco del padding a queste ancore in quanto la navbar essendo fixed occupa dello spazio, sormontandole */
#Pantaloni,
#Scarpe{
  scroll-margin-top: 50px;
}

/* Definisco dei media modificando il css dei vari elementi 
nel momento in cui il display risulta inferiore ai 600px */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
  }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive .logo {
      display: none;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 50%;
      }
  }