@font-face {
  font-family: chopin-text;
  src: url(chopin-font-family/Chopin-Trial-Medium-BF65b1d69162573.otf);
}

@font-face {
  font-family: chopin-title;
  src: url(chopin-font-family/Chopin-Trial-Bold-BF65b1d691a55be.otf);
}

div, 
footer {
  font-family: chopin-text;
}

div h1 {
  font-family: chopin-title;
}

.topnav {
  overflow: hidden;
  box-shadow: 0px 6px 10px #777;
  background-color: #fff;
  width: 100%;
  top: 0%;
  position: fixed;
  z-index: 2;
  margin-bottom: 0.5%;
}

.logo {
  float: left;
  text-align: left;
  display: flex;
  font-size: 5%;
  font-weight: 20px;
  height: 50px;
  margin-right: 0.5em;
  margin-left: 2%;
}

.topnav a {
  display: flex;
  color: #e7207f;
  text-decoration: none;
  padding: 1em;
  margin-right: 2%;
}

.nav-link {
  float: right;
  text-align: center;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #e7207f;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #e7207f;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot2 {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot3 {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e7207f;
}

.active,
.dot2:hover {
  background-color: #e7207f;
}

.active,
.dot3:hover {
  background-color: #e7207f;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.circles {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}

.centrepage {
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: #e7207f;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cards {
  display: flex;
  background: #fff;
  padding: 30px 35px;
  transform-style: preserve-3d;
  transform: rotate(11deg) rotateY("16.5deg");
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.responsive-cards {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.responsive-cards img {
  height: 100%;
}

.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px #000;
  display: flex;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

.card h1 {
  color: #000;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
  transform: translateZ(35px);
}

.card h3 {
  color: #e7207f;
  transform: translateZ(25px);
}

.card:not(:last-child) {
  margin-right: 30px;
}

.card .img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  align-items: center;
  background: #e7207f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .title {
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
}

footer {
  bottom: 0;
  display: flex;
  background-color: #e7207f;
  color: white;
  text-align: center;
  justify-content: center;
}

.portfolio-image img {
  float: left;
  overflow: hidden;
  width: 50%;
  height: 500px;
  object-fit: cover;
}

.portfolio-text {
  background-color: #05b4bb;
  color: #fff;
  width: 50%;
  height: 500px;
  text-align: center;
  float: right;
  padding-top: 50px;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #05b4bb;
  color: #fff;
}

/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type="checkbox"] {
  margin-top: 16px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #fff;
  color: #05b4bb;
  border: none;
  font-size: 20px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

div.Contact h1 {
 text-align: center;
 color: #e7207f;
 font-size: 30px;  
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  /* width: 33%; */
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 30px;
  border-radius: 20px;
}

.flip-card-inner img{
  object-fit: fill;
  width: 100%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #e7207f;
  color: white;
  transform: rotateY(180deg);
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility:visible; z-index: 9999;}
.overlay:target { visibility: visible; opacity: 1;}
#popup1 { font-family:poppins;}
#popup1 .popup {border-radius: 20px;margin: 0px auto; padding: 50px 20px;background: #fff; height: 350px; width:690px; position: relative;    text-align: center;top: 50% !important;   position: fixed !important;-moz-transform: translateY(-50%);    -webkit-transform: translateY(-50%);  -o-transform: translateY(-50%);   -ms-transform: translateY(-50%);    transform: translateY(-50%);right: 0px; left: 0;}
#popup1 .popup h2 { margin-top: 0; color: #333;}
#popup1 .popup .close {position: absolute; top: 0px;  right: 0px; transition: all 200ms; font-size: 30px;  font-weight: normal; text-decoration: none;  text-align: center;    background: #333;  border-radius: 0;  cursor: pointer;  float: right;  padding: 0;  color: #fff;  margin-top: 0;  margin-right: 0;  height: 40px;  width: 40px;    line-height: 45px;}
#popup1 .popup .close:hover {color: #e7207f;}
#popup1 .popup .content {max-height: 30%;overflow: auto;}
#popup1 .newletter-title h2 {   font-size: 24px;  text-transform: uppercase;  color: #000;  font-weight: 700;  letter-spacing: 3px;  margin: 0 0 15px;}
#popup1 .box-content label {  font-weight: 400;  max-width: 560px;  display: inline-block;  margin-bottom: 5px;  font-size: 14px; line-height: 26px;}
.newletter-popup {  background: #fff;  top: 50% !important;   position: fixed !important; padding: 0;  text-align: center;  -moz-transform: translateY(-50%);    -webkit-transform: translateY(-50%);  -o-transform: translateY(-50%);   -ms-transform: translateY(-50%);    transform: translateY(-50%);}
#popup1 #frm_subscribe #subscribe_pemail {    background: #EBEBEB none repeat scroll 0% 0%;    border: medium none;    height: 40px;    width: 65%;    margin: 20px 0;    padding-left: 15px;}
#popup1 #frm_subscribe a {   cursor: pointer;   border: none;    background: #333;    padding: 3px 25px;    text-transform: uppercase;   font-size: 14px;    color: #fff;
    font-weight: 600;    line-height: 50px;    display: inline-block;    border-radius: 0;    letter-spacing: 2px;}
#popup1 .box-content .subscribe-bottom {   margin-top: 20px;}
#popup1 .box-content .subscribe-bottom #newsletter_popup_dont_show_again {    display: inline-block;    margin: 0;    vertical-align: middle;    margin-top: -1px;}
#popup1 .box-content .subscribe-bottom label {    margin: 0;    font-weight: 400;    max-width: 650px;    display: inline-block;    margin-bottom: 5px;    font-size: 12px;}


/* Questo media gestisce la dimensione dei testi 
quando il dispositivo è un telefono o un tablet */
@media screen and (max-width: 900px) {
  div.portfolio-text,
  div.centrepage,
  footer {
    font-size: 12px;
  }
  div.cards p,
  h3.title {
    font-size: 12px;
  }

  div.centrepage h1 {
    font-size: 18px;
    margin: 20px;
  }

  div.centrepage p {
    margin: 20px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  div.container h2,
  p {
    font-size: 12px;
    text-align: center;
  }

  div.cards h1 {
    font-size: 18px;
  }

  div.Contact h1
  {
    font-size: 18px;
  }

  div.container input,
  label {
    font-size: 14px;
  }

  div.flip-card-back,p {
    font-size: 12px;
  }

  #popup1 .newletter-title h2{
    font-size: 18px;
  }

  #popup1 .box-content label{
    font-size: 12px;
  } 
}

/* Questo media gestisce la navbar */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .logo {
    display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Questo media gestisce i pallini del carosello */
@media screen and (max-width: 600px) {
  .dot {
    margin: 0 10px;
  }
  .dot2 {
    margin: 0 10px;
  }
  .dot3 {
    margin: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .container .button {
    width: 75%;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  div.responsive-cards {
    display: block;
    margin: 50px;
  }
}

@media screen and (max-width: 600px) {
  .card.img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-text {
    padding-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .flip-card {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  #popup1 .popup {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  #popup1 #frm_subscribe a {
    width: 200px;
    height: 40px;
    line-height: 30px;
  }
}



.type--A {
  --line_color: #fff;
  --back_color: #e7207f;
}

.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}

.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}

.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}

.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}

.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}

.button:hover {
  letter-spacing: 6px;
}

.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}

.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}

.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}

.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}

.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}

.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}

.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}

.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}

.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}

.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}

.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}

.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}

@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}

@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}

@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#Chisiamo, 
#Portfolio,
#Contatti {
  padding-top: 75px;
  margin-top: -75px;
} 





